In [10]:
# Packages 
import pandas as pd 
from autoc import DataExploration,NaImputer
#from autoc.utils

%pylab inline --no-import
import pylab as pl
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

# Seaborn options 
sns.set_palette("deep", desat=.6)
sns.set_context(rc={"figure.figsize": (8, 4)})
plt.style.use('ggplot') # ggplot2 style for mathplotlib 

# path to cleaned datasets 
path_reviews_cleaned = '~/Google Drive/Auto_clean/Datasets/Glassdoor/'

ImportError: cannot import name DataExploration

In [ ]:
from autoc.explorer import DataExploration
from autoc.

In [4]:
df_reviews = pd.read_csv(path_reviews_cleaned + 'glassdoor_reviews_cleaned_utf8_170415.csv')

In [6]:
df_reviews.head()

,website,interview_difficulty,ceo_name,nb_c_jobs,company_description,registered_employer,benefits_below,similar_companies,acquired_by,founded,...,awards,ceo_rating,type,industry,operated_by,headquarters_city,headquarters_state,nb_awards_after_2000,has_website,ticker
0,www.target.com,2.8,Brian Cornell,NaN,From our Minneapolis-based headquarters to ove...,Engaged Employer,NaN,"Walmart,The Home Depot,Walgreens,Macy's,Bank o...",NaN,1962,...,"Best Companies for Hourly Workers,Working Moth...",66,Company - Public with Ticker,Retail,NaN,Minneapolis,MN,2,1,TGT
1,www.homedepot.com,2.3,Craig Menear,1700,NaN,Engaged Employer,NaN,NaN,NaN,1978,...,"World's Most Admired Companies of 2013,Fortune...",80,Company - Public with Ticker,Retail,NaN,Atlanta,GA,6,1,HD
2,www.army.mil,2.3,John McHugh,NaN,The US Department of the Army has its marching...,Engaged Employer,NaN,"Walmart,US Navy,The Home Depot,UPS,Bank of Ame...",NaN,1775,...,"Best Places to Work for Commuters,National Cen...",77,Government,Government,NaN,Washington,DC,2,1,NaN
3,www.att.com,2.7,Randall L. Stephenson,2100,We understand that our customers want an easie...,NaN,NaN,NaN,NaN,1876,...,"Happiest Companies for Young Professionals,For...",71,Company - Public with Ticker,Telecommunications,NaN,Dallas,TX,5,1,T
4,www.bestbuy.com,2.4,Hubert Joly,NaN,The biggest consumer electronics outlet in the...,Engaged Employer,NaN,"Walmart,The Home Depot,AT&T,Lowe's,Target,Bank...",NaN,1966,...,"Employees’ Choice -50 Best Places to Work,Glas...",74,Company - Public with Ticker,Retail,NaN,Richfield,MN,2,1,BBY

In [7]:
missing_map(df_reviews, nmax=1000)

NameError: name 'missing_map' is not defined